<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>guru</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="title">
        <h1>guru</h1>
        <p>BCS Bridging Module Course Recommender</p>
        <!-- <p>BCS Bridging Module Course Recommender</p> !-->
      </div>
    </div>

    <div class="content">
      <div class="searchType">
        <!-- <p>Searching by:</p>
        <div id="dept" class="selected">
          Department
        </div>
        <div id="course">
          Course
        </div> -->
        <p>Find courses most similar to:</p>
      </div>
      <div id="searchBar">
      </div>
      <!-- <div class="searchBar" id="searchBar">
        <input class="searchInput" type="text" placeholder="..." />
        <div class="addButton">
          <p>go</p>
        </div>
      </div> -->
      <!-- <div class="searchBy">
        <p>Find courses related to:</p>
        <div id="searchTerms">
        </div>
      </div> -->
      <div id="results">
      </div>
    </div>
    <!-- <script src="../static/scripts/jquery.js"></script> -->
    <script src="../static/scripts/react.js" type="text/babel"></script>
  </body>
</html>